<section class="thirteen columns">
    <h1>Formação acadêmica</h1>
    <article>
        <header>
            <h1>Especialização em Infraestrutura e Gestão de Serviços de TI</h1>
            <span>Faculdade Juscelino Kubitschek</span>
            <span><address>Brasília, DF</address><time>2015 a 2016</time></span>
        </header>
        <p>
            <em>Trabalho de conclusão: 'Segurança da Informação: Um método para conscientizar e dirimir a inação.'</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Especialização em Tecnologia de Redes de Computadores</h1>
            <span>União Educacional de Brasília</span>
            <span><address>Brasília, DF</address><time>2014 a 2015</time></span>
        </header>
        <p>
            <em>Trabalho de conclusão: 'Pilha Dupla de IPv4 e IPv6: A transição para o novo
                protocolo da internet.'</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Técnologo em Análise e Desenvolvimento de Sistemas</h1>
            <span>União Educacional de Brasília</span>
            <span><address>Brasília, DF</address><time>2009 a 2012</time></span>
        </header>
        <p>
            <em>Trabalho de conclusão: 'Sistema Seguro Fácil'</em>
        </p>
    </article>
</section>