<section class="thirteen columns">
    <h1>Profissional</h1>
    <article>
        <header>
            <h1>Exército Brasileiro</h1>
            <span><address>Brasília, DF</address><time>2020 a 2023</time></span>
        </header>
            <span>Posto: 2º Tenente - Oficial Técnico Temporário</span>
            <p>Atribuições: Implantação e administração de soluções open-source. Fiscalização técnica, administrativa e demandante de contratos de TIC.
            </p>
    </article>
    <article>
        <header>
            <h1>FUNCEF</h1>
            <span><address>Brasília, DF</address><time>2008 a 2020</time></span>
        </header>
            <span>Cargos: Assist. Adm., Assist. Técnico, Analista Júnior e Analista Pleno.</span>
            <p>Atribuições: Responsável pela administração e manutenção da infraestrutura, rede de dados cabeada e sem fio e seus serviços, Firewall, DNS, DHCP, Virtualização com VMWare, Servidores WEB Apache, administração do monitoramento Zabbix, backup corporativo e remediações de riscos e vulnerabilidades.
            </p>
    </article>
</section>