<section class="thirteen columns">
    <h1>Experiência</h1>
    <article>
        <header>
            <h1>Exército Brasileiro</h1>
            <span><address>Brasília, DF</address><time>2020 a 2023</time></span>
        </header>
            <span>Posto: <em>2º Tenente - Oficial Técnico Temporário</em></span>
            <p>Atribuições: Implantação e administração de solução de monitoramento, Zabbix com doze Zabbix Proxies distribuídos no Brasil, permitindo benefício estratégico. Fiscalização técnica, administrativa e demandante de contratos de TIC, conforme os preceitos da Instrução Normativa SGD/ME nº 1, de 4 de abril de 2019 e lei n.º 8.666.
            </p>
    </article>
    <article>
        <header>
            <h1>FUNCEF</h1>
            <span><address>Brasília, DF</address><time>2008 a 2020</time></span>
        </header>
            <span>Cargos: <em>Analista Pleno, Analista Júnior, Assist. Técnico e Assist. Administrativo.</em></span>
            <p>Atribuições: Responsável pela administração e manutenção da infraestrutura, análise e remediações de riscos e vulnerabilidades, rede de dados cabeada e sem fio, firewall, DNS, DHCP, virtualização com VMWare, servidores Web Apache, monitoramento via Zabbix e Grafana e backup corporativo.
            </p>
    </article>
</section>