<section class="thirteen columns">
    <h1>Atividades</h1>
    <article>
        <header>
            <h1>Eventos</h1>
            <span><address>Conferência Gartner Infraestrutura de TI, Operações e Estratégia de Cloud</address><time>2018</time></span><br>
            <span><address>Workshop completo rumo a certificação Oracle Cloud | Dev | DevOps | SRE - LinuxTips</address><time>2021</time></span><br>
            <span><address>Oracle Hands-On Lab Red Bull Racing - LinuxTips</address><time>2023</time></span><br>
            <span><address>DevOps Experience - Estabilis Academy</address><time>2023</time></span><br>
        </header>
        <!-- <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p> -->
    </article>
    <article>
        <header>
            <h1>Interesses</h1>
            <span><address>Ansible ~ DevSecOps ~ ComplianceAsCode ~ Soluções open-source ~ LGPD</address></span>
        </header>
        <!-- <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p> -->
    </article>
    <article>
        <header>
            <h1>Hobbies</h1>
            <span><address>Jogos, Cozinhar e Hiking.</address></span>
        </header>
        <!-- <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p> -->
    </article>
</section>