<section class="thirteen columns">
    <h1>Atividades</h1>
        <article>
            <header>
                <h1>Eventos</h1>
                    <ul class="circle">
                        <li><span>Conferência Gartner Infraestrutura de TI, Operações e Estratégia de Cloud 2018</span></li>
                        <li><span><address>Workshop completo rumo a certificação Oracle Cloud | Dev | DevOps | SRE - LinuxTips</address><time>2021</time></span></li>
                        <li><span><address>Oracle Hands-On Lab Red Bull Racing - LinuxTips</address><time>2023</time></span></li>
                        <li><span><address>DevOps Experience - Estabilis Academy</address><time>2023</time></span><br></li>
                    </ul>
            </header>
        </article>
    <article>
        <header>
            <h1>Interesses</h1>
            <span><address>Ansible - DevSecOps - ComplianceAsCode - Soluções open-source - LGPD</address></span>
        </header>
    </article>
    <!-- <article>
        <header>
            <h1>Hobbies</h1>
            <span><address>...</address></span>
        </header>
    </article> -->
</section>