<section class="thirteen columns">
    <h1>Certificados e Cursos</h1>
    <article>
        <header>
            <h1>Certificados  <a href="https://www.credly.com/users/leonardo-barboza/badges" target="_blank"><i class="fa fa-external-link-square"></i></a></h1>
            <em>RHCSA - Red Hat Certified System Administrator</em><br>
            <em>CompTIA Security+</em><br>
            <em>Oracle Cloud Infrastructure Foundations Associate</em><br>
            <em>ITIL Foundation <small> (2011)</small></em><br>
            <em>DEPC DevOps Essentials</em><br>
            <em>Scrum Foundation</em><br>
            <em>CCNA Routing & Switching<small> (2015)</small></em><br>
            <em>EFSET 67 Advanced (CEFR C1)<small> Proficiência Inglês</small></em>
        </header>
    </article>
    <article>
        <header>
            <h1>Cursos</h1>
            <em>ISO 27001: Curso completo para certificação EXIN ISFS! - Cláudio Dodt</em><br>
            <em>McAfee ePolicy Orchestrator - PSN Security</em><br>
            <em>Cisco Certified Network Associate - Cisco</em><br>
            <em>Bacula - Backup Corporativo - Bacula.com.br</em>
        </header>
    </article>
    <article>
        <header>
        <h1>Tecnologias e Ferramentas</h1>
            <em>Red Hat | VMWare | Cisco | Zabbix | Checkpoint | ExtremeNetworks | Commvault | NetWorker | Turbonomic</em>
        </header>
    </article>
</section>