<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3Q3RJ5P3W2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3Q3RJ5P3W2');
</script>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.name }}'s Résumé">
    <meta name="author" content="{{ site.name }} @{{ site.linkedin }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/base.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/layout.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ site.baseurl }}static/img/red-terminal.ico">
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="cache-control" content="must-revalidate, no-store">
	<meta name="keywords" content="Curriculum, Infraestrutura, Red Hat, Linux, RHCSA" />
	<meta name="description" content="Curriculum Vitae" />
</head>
<body>
</div>

<div class="container">
    <header class="three columns">
        <img src="{{ site.baseurl }}static/img/lnrdlnx.jpg" class="me">
        <h1>{{ site.name }}</h1>
            <a href="{{ site.tel_full }}" target="_blank"><i class="fa fa-whatsapp"></i> {{ site.tel }}</a><br>
            <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i> /leonardobarboza</a><br>
            <a href="{{ site.email_full }}"><i class="fa fa-inbox"></i> {{ site.email }}</a><br>
        <address>
            <a href="{{ site.google_maps }}" target="_blank"><i class="fa fa-location-arrow"></i>
                <!-- {{ site.address.street }}<br/>
                {{ site.address.postcode }}<br/> -->
                {{ site.address.city }}, {{ site.address.country }}
            </a>
        </address>
        <a href="https://github.com/{{ site.github }}" target="_blank"><i class="fa fa-github"></i> Github</a><br>
        <a href="{{ site.website_full }}" target="_blank"><i class="fa fa-home"></i> {{ site.website }}</a>          

    </header>
    <div class="thirteen columns clearfix">

        {{ content }}

    <footer class="thirteen columns">
        <p>© All rights reserved. Powered by <a href="http://jekyllrb.com/" target="_blank">Jekyll</a> and
            <a href="https://www.github.com/jekyllt/vitae" target="_blank">vitae.</a> Updated: {{ site.time }}</p>
    </footer>
    </div>
</body>
</html>
