<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.name }}'s Résumé">
    <meta name="author" content="{{ site.name }} @{{ site.linkedin }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/base.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/layout.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:wght@500&display=swap" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ site.baseurl }}static/img/red-terminal.ico">
    <!-- <link rel="apple-touch-icon" href="static/img/me-icon-57.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="static/img/me-icon-72.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="static/img/me-icon-114.png"> -->
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="cache-control" content="must-revalidate, no-store">
	<meta name="keywords" content="Curriculum, Infraestrutura, Red Hat, Linux, RHCSA" />
	<meta name="description" content="Curriculum Vitae" />
</head>
<body>
</div>

<div class="container">
    <header class="three columns">
        <img src="{{ site.baseurl }}static/img/lnrdlnx.jpg" class="me">
        <h1>{{ site.name }}</h1>
        <!-- <p> -->
            <a href="{{ site.tel_full }}" target="_blank"><i class="fa fa-whatsapp"></i> {{ site.tel }}</a>
        <!-- </p> -->
        <address>
            <a href="{{ site.google_maps }}" target="_blank"><i class="fa fa-location-arrow"></i> 
                <!-- {{ site.address.street }}<br/>
                {{ site.address.postcode }}<br/> -->
                {{ site.address.city }}, {{ site.address.country }}
            </a>
        </address>
        <!-- <p> -->
            <a href="{{ site.website_full }}" target="_blank"><i class="fa fa-home"></i> {{ site.website }}</a><br>
        <!-- </p>
        <p> -->
            <a href="{{ site.email_full }}"><i class="fa fa-inbox"></i> {{ site.email }}</a><br>
            <a href="https://github.com/{{ site.github }}" target="_blank"><i class="fa fa-github"></i> Github</a> /
            <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a>
        <!-- </p> -->
        <br><br>
    </header>
    <div class="thirteen columns clearfix">

        {{ content }}

    <footer class="thirteen columns">
        <p>© All rights reserved. Powered by <a href="http://jekyllrb.com/" target="_blank">Jekyll</a> and
            <a href="https://www.github.com/jekyllt/vitae" target="_blank">vitae.</a> Updated: {{ site.time }}</p>
    </footer>
    </div>

<!-- 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script> -->

<!-- <nav>
    {% for item in site.data.navigation %}
      <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
        {{ item.name }}
      </a>
    {% endfor %}
  </nav> -->

</body>
</html>
